# Archivos de Bytecode de Python
__pycache__/
*.pyc

# Base de datos de desarrollo
db.sqlite3
*.sqlite3

# Archivos de entorno virtual
venv/
env/
.env

# Directorios de archivos estáticos y de medios generados
staticfiles/
media/

# Archivos del sistema operativo
.DS_Store
Thumbs.db